<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>일루와 도서 쇼핑몰 결제</title>
    <!-- SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
<!-- 주문서 영역 -->
<div class="wrapper">
    <h1>📚 일루와 도서 쇼핑몰</h1>

    <form id="order-form">
        <label>고객 이름:
            <input type="text" name="customerName" required />
        </label><br />

        <label>고객 이메일:
            <input type="email" name="customerEmail" required />
        </label><br /><br />

        <label>구매할 도서:
            <select name="book" required>
                <option value="스프링 마스터:35000">스프링 마스터 - 35,000원</option>
                <option value="자바의 정석:29000">자바의 정석 - 29,000원</option>
                <option value="이펙티브 자바:40000">이펙티브 자바 - 40,000원</option>
            </select>
        </label><br /><br />

        <button type="submit">결제하기</button>
    </form>

<!--    <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">-->
<!--        <h1>일반 결제</h1>-->
<!--        &lt;!&ndash; 결제 UI &ndash;&gt;-->
<!--        <div id="payment-method" style="display: flex">-->
<!--            <button id="CARD" class="button2" onclick="selectPaymentMethod('CARD')">카드</button>-->
<!--            <button id="TRANSFER" class="button2" onclick="selectPaymentMethod('TRANSFER')">계좌이체</button>-->
<!--            <button id="VIRTUAL_ACCOUNT" class="button2" onclick="selectPaymentMethod('VIRTUAL_ACCOUNT')">가상계좌</button>-->
<!--            <button id="MOBILE_PHONE" class="button2" onclick="selectPaymentMethod('MOBILE_PHONE')">휴대폰</button>-->
<!--            <button id="CULTURE_GIFT_CERTIFICATE" class="button2" onclick="selectPaymentMethod('CULTURE_GIFT_CERTIFICATE')">문화상품권</button>-->
<!--            <button id="FOREIGN_EASY_PAY" class="button2" onclick="selectPaymentMethod('FOREIGN_EASY_PAY')">해외간편결제</button>-->
<!--        </div>-->
<!--        &lt;!&ndash; 결제하기 버튼 &ndash;&gt;-->
<!--        <button class="button" style="margin-top: 30px" onclick="requestPayment()">결제하기</button>-->
<!--    </div>-->

</div>
<script>
    const clientKey = "test_ck_0RnYX2w532DyJ7OkKwqMrNeyqApQ";
    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    // ------  SDK 초기화 ------
    // TODO: clientKey는 개발자센터의 API 개별 연동 키 > 결제창 연동에 사용하려할 MID > 클라이언트 키로 바꾸세요.
    // TODO: server.js 의 secretKey 또한 결제위젯 연동 키가 아닌 API 개별 연동 키의 시크릿 키로 변경해야 합니다.
    // TODO: 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요. 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
    // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
    // 회원 결제
    // @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment
    const payment = tossPayments.payment({ customerKey });
    // 비회원 결제
    // const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS});

    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
    // async function requestPayment() {
    //     // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
    //     // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
    //     await payment.requestPayment({
    //         method: "CARD", // 카드 및 간편결제
    //         amount: {
    //             currency: "KRW",
    //             value: 15000,
    //         },
    //         orderId: generateRandomString(),
    //         orderName: "스프링 완전정복",
    //         successUrl: window.location.origin + "/payment/success.html", // 결제 요청이 성공하면 리다이렉트되는 URL
    //         failUrl: window.location.origin + "/fail.html", // 결제 요청이 실패하면 리다이렉트되는 URL
    //         customerEmail: "customer123@gmail.com",
    //         customerName: "홍길동",
    //         // 가상계좌 안내, 퀵계좌이체 휴대폰 번호 자동 완성에 사용되는 값입니다. 필요하다면 주석을 해제해 주세요.
    //         // customerMobilePhone: "01012341234",
    //         card: {
    //             useEscrow: false,
    //             flowMode: "DEFAULT",
    //             useCardPoint: false,
    //             useAppCardOnly: false,
    //         },
    //     });
    // }
    document.getElementById("order-form").addEventListener("submit", function (e) {
        e.preventDefault();
        const form = new FormData(e.target);

        const customerName = form.get("customerName");
        const customerEmail = form.get("customerEmail");

        const [bookName, rawAmount] = form.get("book").split(":");

        payment.requestPayment({
            method: "CARD",
            amount: {
                currency: "KRW",
                value: parseInt(rawAmount),
            },
            orderId: "order-" + new Date().getTime(),
            orderName: `일루와 | ${bookName}`,
            successUrl: window.location.origin + "/payment/success.html",
            failUrl: window.location.origin + "/fail.html",
            customerEmail: customerEmail,
            customerName: customerName,
            card: {
                useEscrow: false,
                flowMode: "DEFAULT",
                useCardPoint: false,
                useAppCardOnly: false,
            },
        });
    });

    function generateRandomString() {
      return window.btoa(Math.random()).slice(0, 20);
    }
</script>
</body>
</html>
